[project]
name = "analytical-platform-airflow-cadet-deployer"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12,<3.14"
dependencies = [
    "boto3>=1.42.29",
]
